.about-page {
  &__statement {
    padding: calc(10vw + 40px) 0 calc(10vw + 60px) 0;
    background: url(https://media.giphy.com/media/Wy3Q0fuNIJmYn62Lcv/giphy-downsized-large.gif) left center / cover no-repeat;
    background-attachment: fixed;
    text-align: center;
    position: relative;

    &::before {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      background-color: rgba($color-general, .75);
    }

    .statement {
      position: relative;
      z-index: 1;
    }

    h2 {
      display: block;
      color: $color-white;
      line-height: 1.5;
      margin-bottom: .8em;
    }
  }
}
